body {
    background-color: rgb(90, 13, 13);
    font-family: "Yusei Magic", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color:rgb(218, 165, 32) ;
    font-family: "Yusei Magic", sans-serif;
}

.passo {
    display: none;

}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}